<div class="background-image">
    <h1> Book Store </h1>
    <form (submit)="$event.preventDefault()">
        <input type="text" placeholder="Search..." (input)="onTextInput($event)">
        <label for="category">Filter by:</label>
        <div class="select-categories">
            <input type="checkbox" name="category" value="title" checked (change)="onCheckboxChange($event)"> Title
            <input type="checkbox" name="category" value="author" (change)="onCheckboxChange($event)"> Author
            <input type="checkbox" name="category" value="categories" (change)="onCheckboxChange($event)"> Categories
        </div>
    </form>
    <div class="book-list">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Si booksDisplaying esta vacio muestra mensaje -->
                    <tr *ngIf="booksDisplaying.length === 0" class="no-results">
                        <td colspan="3">We didn't find anything...</td>
                    </tr>
                    <!-- Mostrar los libros si hay alguno -->
                    <tr *ngFor="let book of booksDisplaying">
                        <td>{{ book["title"] }}</td>
                        <td>{{ book["author"]["name"] }}</td>
                        <td>{{ categoriesToString(book['categories']) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>